@inject ISourceHttpClient SourceHttpClient
@inject ISourceValidator SourceValidator
@inject NavigationManager NavigationManager

<MudForm @ref="_form" 
         @bind-IsValid="@Success"
         Class="w-75">
    <MudText Class="mt-2"
             Typo="Typo.h5">
        Title
    </MudText>

    <MudTextField 
        Class="w-50 mud-border-secondary"
        Variant="Variant.Outlined"
        Validation="@(new Func<string, IEnumerable<string>>(SourceValidator.ValidateName))"
        @bind-Value="@_createSourceFormComponentModel.Name"
        Placeholder="Enter title..." />
    
    <MudText Class="mt-4"
             Typo="Typo.h5">
        Type
    </MudText>
    <div class="w-50">
    <MudSelect 
        @bind-Value="@_createSourceFormComponentModel.Type"
        Variant="Variant.Outlined" 
        Placeholder="Select type..."
        T="SourceType">
        @foreach (var type in SourceType.List)
        {
            <MudSelectItem Value="type">
                @type.Name
            </MudSelectItem>
        }
    </MudSelect>
    </div>

    <MudText Class="mt-4"
             Typo="Typo.h5">
        Template Creation
    </MudText>
    <MudDropContainer
        Class="d-flex flex-wrap flex-grow-1"
        T="DropItem"
        Items="_dropItems"
        ItemsSelector="@((item, dropzone) => item.Identifier == dropzone)"
        ItemDropped="ItemUpdated">
        <ChildContent>
            <MudDropZone 
                T="DropItem" 
                Identifier="Available" 
                Class="rounded border-2 mud-border-secondary pa-6 flex-grow-1 w-25">
                <MudText Typo="Typo.h6">Available properties</MudText>
            </MudDropZone>

            <MudDropZone 
                T="DropItem" 
                Identifier="Selected" 
                Class="rounded border-2 mud-border-secondary pa-6 ml-2 flex-grow-1 w-25">
                <MudText Typo="Typo.h6">Your template</MudText>
            </MudDropZone>
        </ChildContent>
        <ItemRenderer>
            <div class="d-flex flex-row">
                <MudPaper Elevation="0"
                          Class="border-2 mud-border-secondary pa-4 my-4 w-75">
                    @context.Name
                </MudPaper>
                @if (context.Identifier == "Selected")
                {
                    <MudCheckBox @bind-Value="@context.IsValid"
                                 Size="Size.Small"
                                 Class="my-auto"
                                 Color="Color.Secondary">
                        Valid by default
                    </MudCheckBox>
                }
            </div>
        </ItemRenderer>
    </MudDropContainer>
    
    <MudButton OnClick="@OnSaveButtonClick"
               Class="mt-4 mud-border-secondary"
               Variant="Variant.Outlined"
               Size="Size.Large">
        Save
    </MudButton>
</MudForm>

@code {
    readonly CreateSourceFormComponentModel  _createSourceFormComponentModel = new CreateSourceFormComponentModel();
    
    List<SourceProperty> _properties = new();

    List<DropItem> _dropItems = new();

    MudForm _form = null!;

    bool Success { get; set; }

    static void ItemUpdated(MudItemDropInfo<DropItem> dropItem)
    {
        if (dropItem.Item != null)
        {
            dropItem.Item.Identifier = dropItem.DropzoneIdentifier;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(200);
        _properties = SourcePropertyGenerator.GenerateSourceProperties();

        foreach (var property in _properties)
        {
            _dropItems.Add(new()
            {
                Name = property.Name,
                Identifier = "Available",
                IsValid = false
            });
        }
    }

    async Task OnSaveButtonClick()
    {
        await _form.Validate();
        if (Success)
        {
            foreach (var dropItem in _dropItems)
            {
                if (dropItem.Identifier == "Selected")
                {
                    _createSourceFormComponentModel.Template.Properties.Add(new SourceProperty()
                    {
                        Name = dropItem.Name,
                        IsValidByDefault = dropItem.IsValid
                    });
                }
            }

            var data = Mapper.MapToDto(_createSourceFormComponentModel);

            await SourceHttpClient.CreateAsync(data);

            NavigationManager.NavigateTo("/", true);
        }
    }

    public class DropItem
    {
        public string Name { get; set; } = null!;
        public string Identifier { get; set; } = null!;
        public bool IsValid { get; set; }
    }
}